<!DOCTYPE=HTML>
<div>
  <h1>Parker Lacy's Music Machine 2.0</h1>
  <br>
  
  <h3>This project is currently still in development.</h3>

  <button id="btnChords1">Play a couple of chords</button>
  <br>
  <button id="btnChords2">Play a sequence of chords</button>
  
  <%= javascript_pack_tag 'audiosynth/sound_generation' %>
</div>
