<!DOCTYPE=HTML>
<div>
  <h1>Parker Lacy's Music Machine 2.0</h1>
  <br>
  
  <h3>This project is currently still in development.</h3>

  <button id="chordButton">Play a chord progression!</button>
  
  <%= javascript_pack_tag 'audiosynth/sound_generation' %>
</div>
